* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

app-home,
app-all-events,
app-user-events,
app-single-event,
app-add-event,
app-edit-event,
app-login,
app-register,
app-profile,
app-page-not-found {
  flex-grow: 1;
  min-height: 100%;
}

app-login,
app-register,
app-profile,
app-single-event,
app-add-event,
app-edit-event {
  padding: 20px 0;
}

app-single-event {
  position: relative;
}

.login-register-page-containter,
.add-event-container,
.edit-event-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-register-form,
.add-event-form,
.edit-event-form {
  font-size: 1.2rem;
  padding: 50px;
  color: #FFF;
  background-color: #968888;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.passwords-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.login-register-sections,
.add-event-sections,
.edit-event-sections {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.login-register-form>h2,
.add-event-form>h2,
.edit-event-form>h2 {
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
}

.login-register-label-input,
.add-event-label-input,
.edit-event-label-input {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.login-register-label-input>input,
.add-event-label-input>input,
.edit-event-label-input>input {
  width: 250px;
  padding: 2px;
}

.login-register-form>button,
.profile-edit-button,
.add-event-form>button,
.edit-event-button {
  width: 50%;
  align-self: center;
  margin-top: 10px;
  padding: 10px;
  text-transform: uppercase;
  color: #FFF;
  border: none;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.login-register-enabled-btn:hover,
.profile-edit-button:hover,
.add-event-enabled-btn:hover,
.edit-event-button:hover {
  cursor: pointer;
  color: #22371d;
  background-color: #FFF;
  border: none;
}

.login-register-enabled-btn,
.add-event-enabled-btn {
  background-color: #22371d;
}

.login-register-disabled-btn,
.add-event-disabled-btn {
  cursor: auto;
}

.login-register-disabled-btn,
.add-event-disabled-btn {
  background-color: #22371d;
}

.link-to-login-register {
  margin-top: 10px;
  font-size: 0.9rem;
  text-align: center;
}

.link-to-login-register>a {
  color: antiquewhite;
}

.link-to-login-register>a:hover {
  cursor: pointer;
  color: #22371d;
}

.input-error {
  border: 2px solid rgb(255, 213, 0);
}

.input-error-msg {
  color: rgb(255, 213, 0);
}

.profile-btn-wrapper,
.edit-event-btn-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.profile-edit-button,
.edit-event-button {
  background-color: #22371d;
}

.profile-edit-button:hover,
.edit-event-button:hover {
  background-color: #FFF;
}

.red-button {
  background-color: red;
}

.grey-disabled-button {
  background-color: grey;
}

.grey-disabled-button:hover {
  cursor: auto;
  color: #FFF;
  background-color: grey;
}

.green-enabled-button {
  background-color: greenyellow;
}


.green-enabled-button:hover {
  cursor: pointer;
}


/* Media Query */
/* @media (min-width: 800px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 1024px) {
  html {
    font-size: 16px;
  }
}

@media (min-width: 1280px) {
  html {
    font-size: 18px;
  }
} */