.all-events-container {
    margin: 30px 20px;
    max-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.all-events-container > h2 {
    text-transform: uppercase;
}

.all-events-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-content: baseline;
}

.single-event {
    position: relative;
    width: calc(50% - 15px);
    height: 250px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
}

.single-event-info {
    position: absolute;
    padding: 5px 15px;
    left: 0;
    top: 0;
    width: 40%;
    height: 100%;
    background-color: #968888;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* gap: 40px; */
}

.single-event-info-heading {
    flex: 0 0 80%;
    display: flex;
    align-items: center;
}

.single-event-info-heading > h3 {
    font-size: 1.7rem;
    color: #fff;
    text-align: left;
}

.single-event-info-paragraph {
    flex: 0 0 20%;
}

.single-event-info-paragraph > p {
    padding: 10px 40px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    color: #fff;
    background-color: #22371d;
    border-radius: 20px;
}

.single-event-info-paragraph > p:hover {
    cursor: pointer;
    font-weight: 600;
    color: #22371d;
    background-color: #fff;
}

.single-event-image {
    flex: 0 0 70%;
}

.single-event-image > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.no-events {
    flex: 0 0 100%;
    text-align: center;
    margin-top: 50px;
    font-size: 20px;
}