<div class="event-page-container">
    <h2>{{event.name}}</h2>
    <div class="event-wrapper">
      <div class="event-image">
        <img src="/images/pexels-pixabay-163444.jpg" alt="" />
      </div>
      <section class="event-info">
        <div class="event-details">
          <p><span>Date:</span> {{event.date | date : "dd-mm-yyyy"}}</p>
          <p><span>Time:</span> {{event.time}}</p>
          <p><span>Place:</span> {{event.place}}</p>
          <p><span>People joined:</span> {{event.usersJoined ? event.usersJoined.length : 0}}</p>
          <p><span>Description:</span> {{ event.description }}</p>
        </div>
        @if (userId === event.ownerId) {
          <div class="single-event-btn">
            <button class="event-edit-btn">Edit</button>
            <button class="event-delete-btn">Delete</button>
          </div>
        } @else {
          <div class="single-event-btn">
            @if (hasJoined) {
              <button class="event-join-btn" (click)="onCancelEvent()">Cancel</button>
            } @else {
              <button class="event-join-btn" (click)="onJoinEvent()">Join</button>
            }
          </div>
        }
        
      </section>
    </div>
  </div>
  
