.event-page-container {
    width: 100%;
    height: 100%;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

.event-page-container > h2 {
    align-self: center;
}

.event-wrapper {
    display: flex;
    height: 500px;
    background-color: antiquewhite;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
}

.event-image {
    flex: 0 0 60%;
}

.event-image > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.event-info {
    flex-grow: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.event-details {
    flex: 0 0 80%;
    padding: 15px 30px 15px 30px;
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
}

.event-details > p > span {
    font-weight: 600;
}

.single-event-btn, .delete-event-btns {
    flex-grow: 1;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.single-event-btn > button, .delete-event-btns > button {
    width: 30%;
    height: 70%;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #FFF;
    border-radius: 10px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.single-event-btn > button:hover {
    cursor: pointer;
    color: #22371d;
    background-color: #FFF;
}

.event-join-btn {
    background-color: #22371d;
}

.event-edit-btn {
    background-color: green;
}

.event-delete-btn {
    background-color: rgb(192, 6, 6);
}

.delete-event-pop-up {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: grey;
    opacity: 0.98;
    display: flex;
    align-items: center;
    justify-content: center;
}

.delete-event-wrapper {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    background: #FFF;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.delete-event-heading {
    flex: 0 0 50%;
    display: flex;
    align-items: center;
}

.delete-event-heading > h3 {
    font-size: 50px;
    text-align: center;
}

.delete-event-btns {
    flex: 0 0 50%;
    width: 100%;
}

.delete-event-btns > button {
    height: 30%;
}

.delete-event-btns > button:hover {
    cursor: pointer;
    font-size: 1.2rem;
    background-color: #22371d;
}

