<div class="event-page-container">
    <h2>{{event.name}}</h2>
    <div class="event-wrapper">
      <div class="event-image">
        <img src="/images/pexels-pixabay-163444.jpg" alt="" />
      </div>
      <section class="event-info">
        <div class="event-details">
          <p>Date: {{event.date}}</p>
          <p>Time: {{event.time}}</p>
          <p>Place: {{event.place}}</p>
          <p>People joined: {{event.usersJoined ? event.usersJoined.length : 0}}</p>
          <p>Description: {{ event.description }}</p>
        </div>
        <div class="join-btn">
          <button>Join</button>
        </div>
      </section>
    </div>
  </div>
  
