<div class="login-register-page-containter">
  <form class="login-register-form" [formGroup]="form" (ngSubmit)="register()">
    <h2>Register</h2>

    <section class="login-register-sections">
      <p class="login-register-label-input">
        <label for="username">Username:</label>
        <input
          [class]="
            isFieldTextMissing('username') || isNotMinLength
              ? 'input-error'
              : ''
          "
          type="text"
          name="username"
          id="username"
          formControlName="username"
        />
      </p>

      @if(form.get('username')?.touched){
        <div>
          @if(form.get('username')?.errors?.['required']){
          <p class="input-error-msg">Username is required!</p>
          }
          <!--  -->
          @if(form.get('username')?.errors?.['minlength']){
          <p class="input-error-msg">Username must be at least 5 characters!</p>
          }
        </div>
        }
    </section>

    <section class="login-register-sections">
      <p class="login-register-label-input">
        <label for="email">Email:</label>
        <input
          [class]="
            isFieldTextMissing('email') || isEmailNotValid ? 'input-error' : ''
          "
          type="email"
          name="email"
          id="email"
          formControlName="email"
        />
      </p>

      @if(form.get('email')?.touched){
      <div>
        @if(form.get('email')?.errors?.['required']){
        <p class="input-error-msg">Email is required!</p>
        } @if(form.get('email')?.errors?.['emailValidator']){
        <p class="input-error-msg">Email is not valid!</p>
        }
      </div>
      }
    </section>

    <div class="passwords-wrapper" formGroupName="passGroup">
      <section class="login-register-sections">
        <p class="login-register-label-input">
          <label for="password">Password:</label>
          <input
            [class]="(
              (passGroup?.get('password')?.touched &&
               passGroup?.get('password')?.errors?.['required'] ) ||
               (passGroup?.get('password')?.touched && 
               passGroup?.get('password')?.errors?.['minlength'])
            ) ? 'input-error' : ''"
            type="password"
            name="password"
            id="password"
            formControlName="password"
          />
        </p>

        @if(passGroup?.get('password')?.touched){
        <div>
          @if(passGroup?.get('password')?.errors?.['required']){
          <p class="input-error-msg">Password is required!</p>
          } @if(passGroup?.get('password')?.errors?.['minlength']){
          <p class="input-error-msg">Password must be at least 6 characters!</p>
          }
        </div>
        }
      </section>

      <section class="login-register-sections">
        <p class="login-register-label-input">
          <label for="rePassword">Repeat Password:</label>
          <input
            [class]="(
          (passGroup?.get('rePassword')?.touched &&
          (passGroup?.get('rePassword')?.errors?.['required'] ||
          passGroup?.errors?.['matchPasswordsValidator'])) 
        ) ? 'input-error' : ''"
            type="password"
            name="rePassword"
            id="rePassword"
            formControlName="rePassword"
          />
        </p>

        @if(passGroup?.get('rePassword')?.touched){
        <div>
          @if(passGroup?.errors?.['matchPasswordsValidator'] ||
          passGroup?.get('rePassword')?.errors?.['required']){
          <p class="input-error-msg">
            Repeat Password does not match password!
          </p>
          }
        </div>
        }
      </section>
    </div>

    <button
      [disabled]="form.invalid"
      [class]="
        form.invalid
          ? 'login-register-disabled-btn'
          : 'login-register-enabled-btn'
      "
    >
      Register
    </button>

    <p class="link-to-login-register">
      If you are not registered yet <a routerLink="/login">click here</a>!
    </p>
  </form>
</div>
