<div class="event-page-container">
  <h2>Family Run</h2>
  <div class="event-wrapper">
    <div class="event-image">
      <img src="assets/images/pexels-pixabay-163444.jpg" alt="" />
    </div>
    <section class="event-info">
      <div class="event-details">
        <p>Time: 12:00</p>
        <p>Place: Varna</p>
        <p>People joined: 10</p>
        <p>
          Description: Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Incidunt at iste asperiores quae nesciunt architecto nostrum dicta
          corporis deleniti commodi labore, voluptate dolorem possimus aperiam
          vero facere expedita, deserunt quibusdam.
        </p>
      </div>
      <div class="join-btn">
        <button>Join</button>
      </div>
    </section>
  </div>
</div>
