header {
  display: flex;
  align-items: center;
  padding: 15px;
  color: #fff;
  background-color:#22371d;
}

header > h3 {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  flex-grow: 1;
}

header > ul {
  display: flex;
  justify-content: space-between;
}

.logged-in {
  flex: 0 0 50%;
}

.logged-out {
  flex: 0 0 30%;
}

header a:hover {
  cursor: pointer;
  color: antiquewhite;
}