<div class="all-events-container">
  <h2>All Upcoming Sport Events</h2>
  <section class="all-events-wrapper">
    <article class="single-event">
      <div class="single-event-info">
        <div class="single-event-info-heading">
          <h3>Running</h3>
        </div>
        <div class="single-event-info-paragraph">
          <p>Details</p>
        </div>
      </div>
      <div class="single-event-image">
        <img src="assets/images/pexels-pixabay-163444.jpg" alt="" />
      </div>
    </article>

    <article class="single-event">
      <div class="single-event-info">
        <div class="single-event-info-heading">
          <h3>Running</h3>
        </div>
        <div class="single-event-info-paragraph">
          <p>Details</p>
        </div>
      </div>
      <div class="single-event-image">
        <img src="assets/images/pexels-pixabay-163444.jpg" alt="" />
      </div>
    </article>

    <article class="single-event">
      <div class="single-event-info">
        <div class="single-event-info-heading">
          <h3>Walking in the mountains with our families and having food in the forest</h3>
        </div>
        <div class="single-event-info-paragraph">
          <p>Details</p>
        </div>
      </div>
      <div class="single-event-image">
        <img src="assets/images/pexels-pixabay-163444.jpg" alt="" />
      </div>
    </article>

    <article class="single-event">
      <div class="single-event-info">
        <div class="single-event-info-heading">
          <h3>Family run tour</h3>
        </div>
        <div class="single-event-info-paragraph">
          <p>Details</p>
        </div>
      </div>
      <div class="single-event-image">
        <img src="assets/images/pexels-pixabay-163444.jpg" alt="" />
      </div>
    </article>

    <article class="single-event">
      <div class="single-event-info">
        <div class="single-event-info-heading">
          <h3>Running</h3>
        </div>
        <div class="single-event-info-paragraph">
          <p>Details</p>
        </div>
      </div>
      <div class="single-event-image">
        <img src="assets/images/pexels-pixabay-163444.jpg" alt="" />
      </div>
    </article>
  </section>
</div>
