<div class="login-register-page-containter">
  <form class="login-register-form">
    <h2>Register</h2>

    <p class="login-register-label-input">
      <label for="email">Email:</label>
      <input type="text" id="email" />
    </p>

    <p class="login-register-label-input">
      <label for="password">Password:</label>
      <input type="text" id="password" />
    </p>

    <p class="login-register-label-input">
      <label for="rePassword">Repeat Password:</label>
      <input type="text" id="rePassword" />
    </p>

    <button>Register</button>

    <p class="link-to-login-register">
      If you are not registered yet <a routerLink="/login">click here</a>!
    </p>
  </form>
</div>
