header {
    display: flex;
    align-items: center;
    padding: 20px;
    color: #fff;
    background-color:#22371d;
}

header > h3 {
    flex: 0 0 60%;
}

header > ul {
    display: flex;
    flex: 0 0 40%;
    justify-content: space-between;
}