<div class="login-register-page-containter">
  <form class="login-register-form" #form="ngForm" (ngSubmit)="login(form)">
    <h2>Login</h2>

    <section class="login-register-sections">
      <p class="login-register-label-input">
        <label for="email">Email:</label>
        <input
          [class]="(
        (inputEmail?.touched && inputEmail?.errors?.['required']) || 
         (inputEmail?.touched && inputEmail?.errors?.['emailValidator']))
         ? 'input-error': ''"
          type="email"
          name="email"
          id="email"
          ngModel
          #inputEmail="ngModel"
          required
          [appEmail]="domains"
        />
      </p>

      @if(inputEmail?.touched){
      <div>
        @if(inputEmail?.errors?.['required']){
        <p class="input-error-msg">Email is required!</p>
        }
        <!--  -->
        @if(inputEmail?.errors?.['emailValidator']){
        <p class="input-error-msg">Email is not valid!</p>
        }
      </div>
      }
    </section>

    <section class="login-register-sections">
      <p class="login-register-label-input">
        <label for="password">Password:</label>
        <input
          [class]="(
        (inputPassword?.touched && inputPassword?.errors?.['required']) || 
         (inputPassword?.touched && inputPassword?.errors?.['minlength']))
         ? 'input-error': ''"
          type="password"
          name="password"
          id="password"
          ngModel
          #inputPassword="ngModel"
          minlength="5"
          required
        />
      </p>

      @if(inputPassword?.touched){
      <div>
        @if(inputPassword?.errors?.['required']){
        <p class="input-error-msg">Password is required!</p>
        }
        <!--  -->
        @if(inputPassword?.errors?.['minlength']){
        <p class="input-error-msg">Password must be at least 5 characters!</p>
        }
      </div>
      }
    </section>

    <button
      [disabled]="form.invalid"
      [class]="
        form.invalid
          ? 'login-register-disabled-btn'
          : 'login-register-enabled-btn'
      "
    >
      Login
    </button>

    <p class="link-to-login-register">
      If you are already registered <a routerLink="/register">click here</a>!
    </p>
  </form>
</div>
