<div class="edit-event-container">
    <form class="edit-event-form" [formGroup]="form" (ngSubmit)="editEvent()">
      <h2>Edit Event: {{event?.name}}</h2>
  
      <section class="edit-event-sections">
        <p class="edit-event-label-input">
          <label for="name">Name:</label>
          <input
            [class]="
              (form.get('name')?.touched && form.get('name')?.errors?.['required']) ? 'input-error': ''"
            type="text"
            name="name"
            id="name"
            formControlName="name"
          />
        </p>
  
        @if(form.get('name')?.touched){ @if(form.get('name')?.errors?.['required']){
        <div>
          <p class="input-error-msg">Name is required!</p>
        </div>
        } }
      </section>
  
      <section class="edit-event-sections">
          <p class="edit-event-label-input">
            <label for="date">Date:</label>
            <input
              [class]="
                (form.get('date')?.touched && form.get('date')?.errors?.['required']) ? 'input-error': ''"
              type="date"
              name="date"
              id="date"
              [min]="today"
              formControlName="date"
            />
          </p>
    
          @if(form.get('date')?.touched){ @if(form.get('date')?.errors?.['required']){
          <div>
            <p class="input-error-msg">Date is required!</p>
          </div>
          } }
        </section>
  
        <section class="edit-event-sections">
          <p class="edit-event-label-input">
            <label for="time">Time:</label>
            <input
              [class]="
                (form.get('time')?.touched && form.get('time')?.errors?.['required']) ? 'input-error': ''"
              type="time"
              name="time"
              id="time"
              formControlName="time"
            />
          </p>
    
          @if(form.get('time')?.touched){ @if(form.get('time')?.errors?.['required']){
          <div>
            <p class="input-error-msg">Time is required!</p>
          </div>
          } }
        </section>
  
        <section class="edit-event-sections">
          <p class="edit-event-label-input">
            <label for="place">Place:</label>
            <input
              [class]="
                (form.get('place')?.touched && form.get('place')?.errors?.['required']) ? 'input-error': ''"
              type="text"
              name="place"
              id="place"
              formControlName="place"
            />
          </p>
    
          @if(form.get('place')?.touched){ @if(form.get('place')?.errors?.['required']){
          <div>
            <p class="input-error-msg">Place is required!</p>
          </div>
          } }
        </section>
  
        <section class="edit-event-sections">
          <p class="edit-event-label-input">
            <label for="description">Description:</label>
            <input
              [class]="
                (form.get('description')?.touched && form.get('description')?.errors?.['required']) ? 'input-error': ''"
              type="textarea"
              name="description"
              id="description"
              placeholder="maximum 50 symbols"
              maxlength="50"
              formControlName="description"
            />
          </p>
    
          @if(form.get('description')?.touched){ @if(form.get('description')?.errors?.['required']){
          <div>
            <p class="input-error-msg">Description is required!</p>
          </div>
          } 
          
          @if(form.get('description')?.errors?.['maxlength']){
            <div>
              <p class="input-error-msg">Description should be maximum 50 symbols!</p>
            </div>
            }
        }
        </section>
  
        <div class="edit-event-btn-wrapper">
          <button
            class="edit-event-button red-button"
            (click)="onCancelEditEvent($event)"
          >
            Cancel
          </button>
          <button
            [disabled]="form.invalid"
            [class]="
              form.invalid
                ? 'edit-event-button grey-disabled-button'
                : 'edit-event-button green-enabled-button'
            "
          >
            Save
          </button>
        </div>
    </form>
  </div>
  
