<div class="profile-container">
  <div class="profile-wrapper">
    <h3>User Info:</h3>

    @if(!isEditMode){
    <ng-container>
      <div class="profile-info">
        <p>Username:</p>
        <p>{{ profileDetails.username }}</p>
      </div>
      <div class="profile-info">
        <p>Email:</p>
        <p>{{ profileDetails.email }}</p>
      </div>
      <button class="profile-edit-button" (click)="toggleEditMode()">
        Edit
      </button>
    </ng-container>
    } @else {
    <!-- EDIT MODE -->
    <ng-container>
      <form
        class="profile-form-wrapper"
        [formGroup]="form"
        (ngSubmit)="handleSaveProfile()"
      >
        <section class="profile-info-section">
          <div class="profile-form-info">
            <p>Username:</p>
            <input
              type="text"
              name="username"
              id="username"
              formControlName="username"
            />
          </div>
          @if(form.get('username')?.touched){
          @if(form.get('username')?.errors?.['required']){
          <div>
            <p class="input-error-msg">Username is required!</p>
          </div>
          }
          <!--  -->
          @if(form.get('username')?.errors?.['minlength']){
          <div>
            <p class="input-error-msg">
              Username must be at least 5 characters!
            </p>
          </div>
          } }
        </section>

        <section class="profile-info-section">
          <div class="profile-form-info">
            <p>Email:</p>
            <input
              type="email"
              name="email"
              id="email"
              formControlName="email"
            />
          </div>

          @if(form.get('email')?.touched){
          @if(form.get('email')?.errors?.['required']){
          <div>
            <p class="input-error-msg">Email is required!</p>
          </div>
          }
          <!--  -->
          @if(form.get('email')?.errors?.['emailValidator']){
          <div>
            <p class="input-error-msg">Email is not valid!</p>
          </div>
          } }
        </section>

        <div class="profile-btn-wrapper">
          <button
            class="profile-edit-button red-button"
            (click)="onCancel($event)"
          >
            Cancel
          </button>
          <button
            [disabled]="form.invalid"
            [class]="
              form.invalid
                ? 'profile-edit-button grey-disabled-button'
                : 'profile-edit-button green-enabled-button'
            "
          >
            Save
          </button>
        </div>
      </form>
    </ng-container>
    }
  </div>
</div>
