.profile-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-wrapper {
  font-size: 1.2rem;
  padding: 50px;
  color: #FFF;
  background-color: #968888;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.profile-form-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.profile-wrapper > h3 {
  margin-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
}

.profile-info, .profile-form-info {
  display: flex;
  gap: 10px;
}

.profile-form-info {
  justify-content: space-between;
}

.profile-form-info > input {
  width: 250px;
  padding: 2px;
}

.profile-info-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}