<div class="all-events-container">
  <h2>All Upcoming Sport Events</h2>
  <section class="all-events-wrapper">
    <article class="single-event">
      <div class="single-event-info">
        <h3>Running</h3>
        <p>Join</p>
      </div>
      <div class="single-event-image">
        <img src="assets/images/pexels-pixabay-163444.jpg" alt="" />
      </div>
    </article>

    <article class="single-event">
        <div class="single-event-info">
          <h3>Running</h3>
          <p>Join</p>
        </div>
        <div class="single-event-image">
          <img src="assets/images/pexels-pixabay-163444.jpg" alt="" />
        </div>
      </article>


      <article class="single-event">
        <div class="single-event-info">
          <h3>Running</h3>
          <p>Join</p>
        </div>
        <div class="single-event-image">
          <img src="assets/images/pexels-pixabay-163444.jpg" alt="" />
        </div>
      </article>


      <article class="single-event">
        <div class="single-event-info">
          <h3>Running</h3>
          <p>Join</p>
        </div>
        <div class="single-event-image">
          <img src="assets/images/pexels-pixabay-163444.jpg" alt="" />
        </div>
      </article>

      <article class="single-event">
        <div class="single-event-info">
          <h3>Running</h3>
          <p>Join</p>
        </div>
        <div class="single-event-image">
          <img src="assets/images/pexels-pixabay-163444.jpg" alt="" />
        </div>
      </article>
  </section>
</div>
